.dashboard {
    font-family: avenir, helvetica, sans-serif;
}

.overview_bar h2 {
    margin: 20px;
    font-size: 20px;
    display: inline-block;
    margin-top: 0px;
}

.overview_bar a {
    float: right;
    display: inline;
    margin: 20px;
    margin-top: 0px;
}

.widget_panel {
    min-height: 260px;
    border-radius: 10px;
    border: 2px solid #E1E1E1;
    background-color: #FFF;
    padding: 10px;
    margin: 0 1em;
}

.widget_header {
    text-decoration: none;
}

.widget_header h3 {
    color: gray;
    font-size: 20px;
}

.top_widget_panel {
    margin-top: 0;
}

.your_budget {
    min-height: 406px;
}

.transaction_history {
    min-height: 406px;
}