.transaction_container {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-top: 14px;
}

p {
    color: #000;
    font-size: 16px;
}

.img_container {
    height: 74px;
    min-width: 50px;
    border-radius: 100%;
    float: left;
    margin: 0 20px 0 0;
    border: 2px solid #CFCFCF;
}

.transaction_text_container {
    height: 100%;
    min-width: 50px;
    float: left;
}

.transaction_date {
    height: 100%;
    min-width: 50px;
    float: left;
}

.transaction_amount {
    height: 100%;
    min-width: 60px;
    float: right;
}