* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f4f7fd;
  height: 100%;
}

.container {
  padding: 20px;
  float: left;
}

.main_content {
  float: left;
  height: 100%;
  width: 85%; 
  margin-left: 15%;
  padding: 20px 50px;
}