.sidebar {
    float: left;
    border-right: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(150,156,198);
    background: linear-gradient(0deg, rgba(150,156,198,1) 0%, rgba(115,154,219,1) 100%);
    color: #DBDBDB;
}

.sidebar ul {
    
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.selected {
    color: #FFF;
}

.nav_wrapper {
    width: 60%;
    margin: 0 auto;
    margin-left: 28%;
}

.main_nav {
    margin-top: 30px;
}

.account_info {
    margin-top: 30px;
}